<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>

    <body>
        <h1>War Wordle</h1>
        <h1>Guess the conflict</h1>
        <h1>Name of random conflict: {{name | safe}}</h1>
        <div class="container">
            <p class="conflictInfoBox" id="startBox">Start: {{start | safe}}</p>
            <p class="conflictInfoBox" id="endBox">End: {{end | safe}}</p>
            <p class="conflictInfoBox" id="victorsBox">Victors: <br> {{victors | safe}}</p>
            <p class="conflictInfoBox" id="defeatedBox">Defeated: <br> {{defeated | safe}}</p>
        </div>
        <div class="dropdown">
            <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()" onclick="toggleDropdownVisibility()">
            <div id="myDropdown" class="dropdown-content">
                {% for name in conflict_names %}
                <a onclick="selectConflict('{{ name | safe}}')">{{ name | safe}}</a>
                {% endfor %}
            </div>
        </div>

        <div class="guessBox" id="guessBox1"> </div>
        <div class="guessBox" id="guessBox2"> </div>
        <div class="guessBox" id="guessBox3"> </div>
        <div class="guessBox" id="guessBox4"> </div>
        <div class="guessBox" id="guessBox5"> </div>

        <div class="popUpNotification" id="bottomNotification">Notification here</div>

        <script src="static/insert_table_data.js"></script>
    </body>
</html>